.form-data{
    width:50%;
    margin-left:25%;
    margin-right:25%;
    margin-top:5%;
}

.login-form-input {
    width:100%
}

.login-button {
    width:60%;
    margin-left:20%;
    margin-right:20%;
    background-color: white;
    border: 2px solid #BB042B;
    color:#BB042B;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    border-radius:10px;
    font-family: 'Inter', sans-serif;

}

.login-button:hover {
    background-color:#BB042B;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.signup-button {
    width:60%;
    margin-left:20%;
    margin-right:20%;
    text-decoration: none !important;
    color:#BB042B;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    border: 2px solid #BB042B;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius:10px;
    background-color: white;
}

.signup-button:hover {
    background-color:#BB042B;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.login-header {
    text-align: center;
    color:#bb042b;
    margin-top:5%;
}

#login-form-container {
    border: solid black;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    width:25%;
    height:350px;
}
.login-form-col {
    width:25%;
}

.error-login {
    color:red;
    font-weight:bold;
    text-align:center;
}

.welcome-img {
    margin-left:15px;
}

.custom-label {
    font-family: 'Inter', sans-serif;
}

#login-form-row {
    width:100%;
}

@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1)  {
    .signup-button {
        width:50%;
        margin-left:25%;
        margin-right:25%;
    }

    .login-button {
        width:50%;
        margin-left:25%;
        margin-right:25%;
    }

    #login-form-container {
        border: solid black;
        margin-left:auto;
        margin-right:auto;
        border-radius: 10px;
        width:25%;
        height:300px;
    }

    .form-data{
        width:50%;
        margin-left:25%;
        marginright:25%;
        margin-top:5%;
    }
}